.premiumFeature_container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 7rem;
}

.premiumFeature_header {
  position: relative;
  width: 40%;
  margin-bottom: 4rem;
}

.premiumFeature_header h1 {
  position: relative;
  font-size: 4rem;
  color: var(--light-black);
}

.premiumFeature_header::before {
  content: "";
  position: absolute;
  left: 40%;
  bottom: -7px;
  transform: translateX(-50%);
  background: var(--dark-yellow);
  width: 75px;
  border-radius: 10px;
  height: 7px;
}

.premiumFeature_para {
  position: relative;
  width: 40%;
}

.premiumFeature_para p {
  position: relative;
  font-size: 1.8rem;
  color: var(--light-black);
}

.premium_features {
  position: relative;
  display: flex;
  gap: 3rem;
  margin-top: 5rem;
}

.premium_feature {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.2);
  padding: 4rem;
  background: rgba(244, 244, 244, 0.2);
  backdrop-filter: blur(25px);
  border-radius: 1rem;
}

.premium_template_img {
  position: relative;
  /* height: 300px;
  width: 240px; */
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.premium_template_img img {
  position: relative;
  width: 200px;
  height: 200px;
  /* min-height: 35rem; */
}

.box_shadow_img {
  width: 200px;
  transform: perspective(44px) rotateX(0) rotateY(2deg);
  box-shadow: -1px 0 3px 0 rgb(0 0 0 / 20%), -25px 0 0 -10px #fff,
    -25px 0 3px -10px rgb(0 0 0 / 30%), -50px 0 0 -20px #fff,
    -50px 0 3px -20px rgb(0 0 0 / 30%), -75px 0 0 -30px #fff,
    -75px 0 3px -30px rgb(0 0 0 / 30%);
}

.premium_feature_icon {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  height: 4rem;
  width: 4rem;
  font-size: 2rem;
  background-color: var(--light-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.premium_featute_text {
  position: relative;
  /* flex-basis: 50%; */
  margin-top: 5rem;
}
.premium_featute_text h4,
.premium_featute_text p {
  position: relative;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.premiumFeature_btn {
  position: relative;
  padding: 1.5rem 4rem;
  cursor: pointer;
  background: var(--dark-yellow);
  color: var(--light-black);
  border-radius: 50px;
  outline: none;
  border: none;
  margin-top: 7rem;
  font-size: 2rem;
}

@media screen and (max-width: 1600px) {
  .premiumFeature_header h1 {
    font-size: 3.5rem;
  }

  .premiumFeature_para p {
    font-size: 1.6rem;
  }
  .premiumFeature_btn {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 1000px) {
  .premium_features {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-top: 5rem;
  }
  .premium_feature {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.2);
    padding: 4rem;
    background: rgba(244, 244, 244, 0.2);
    backdrop-filter: blur(25px);
    border-radius: 1rem;
  }
}
