.Navbar
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    position: sticky;
    top: 0px;
    width: 100%;
    z-index: 1000;
}

.Registerbutton
{
    border-radius: 25px;
    font-size: 16px;
    font-style: normal;
    color: #FFFFFF;
    border: none;
    background-color: #00c8aa;
    width: 3cm;
    height: 1cm;
    margin-right: -10px;
    /* margin-bottom: 10px; */
    
}
.Signinbutton
{
    border-radius: 25px;
    font-size: 16px;
    font-style: normal;
    color: black;
    border: none;
    background-color: #e1e1e1;
    width: 2.5cm;
    height: 1cm;
    margin-right: 35px;
    /* margin-bottom: 10px; */

}
.Header_Left
{
    margin-bottom: 10px;
}
.Header_Right
{
    display: flex;
    align-items:center;
    justify-content: space-around;
    gap: 25px;
    margin-top: 10px;
    color: #313B47;
    font: 12.8px;
    margin-bottom: 10px;
} 

.Resume_Templates
{
    text-decoration: none;
    color: black;
    font-weight: 200;
    font-size: medium;
}

.CV_Templates
{
    text-decoration: none;
    color: black;
    font-weight: 200;
    font-size: medium;
}
.Cover_Letters
{
    text-decoration: none;
    color: black;
    font-weight: 200;
    font-size: medium;
}

.Career_Blog
{
    text-decoration: none;
    color: black;
    font-weight: 200;
    font-size: medium;
}

.Pricing
{
    text-decoration: none;
    color: black;
    font-weight: 200;
    font-size: medium;

}

.EN_US
{
    text-decoration: none;
    color: black;
    font-weight: 200;
    font-size: medium;

}

.Logo1
{
    position: absolute;
    width: 39px;
    height: 26px;
    margin-top: -5px;
    margin-left: 15px;
}

.Logo2
{
    position: absolute;
    width: 120px;
    height: 15px;
    margin-top: 0px;
    margin-left: 58px;
}